<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html;"/>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" href="../static/css/bootstrap.css" />
<script th:src="@{/js/jquery.js}" src="../static/js/jquery.js"></script>

<script th:src ="@{/js/bootstrap.js}" src="../static/js/bootstrap.js"></script>


<title>Lista Docentes</title>
</head>
<body>
	<div class="panel panel-info"> <div class ="panel-heading"><h3>Lista de Docentes</h3> </div>
	<table class="table table-bordered table-dark">
	
  <thead>
    <tr>
      <th scope="col">Id Docente</th>
      <th scope="col">Rut Docente</th>
      <th scope="col">Nombre Docente</th>
      <th scope="col">Email Docente</th>
      <th scope="col">Es Director?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <tr data-th-each="docente : ${Docentes}">
      	<td data-th-text="${docente.idDoc}"></td>
      	<td data-th-text="${docente.runDoc}"></td>
      	<td data-th-text="${docente.nombreDoc}"></td>
      	<td data-th-text="${docente.emailDoc}"></td>
      	<td data-th-text="${docente.director}"></td>
    </tr>

  	</tbody>
	</table>
	</div>
	<br/>
	<a class ="btn btn-info" th:href="@{~/}">Volver a inicio</a>
	</body>

</html>
