<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>

<meta http-equiv="Content-Type" content="text/html;"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<title>Nuevo Docente</title>
</head>
<body>	

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  		<a class="navbar-brand" href="#">Practica</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
 	</nav>
	
	<div class="page-header">
		<div class = col-sm-10>
			<h2>Ingresar Docente</h2>
		</div>
    </div>
    <form action="#" th:action ="@{/CrudDocente/DocCreado}" th:object="${Docentes}" method="post">
    <div class="form-group"> 
        <label for="nombreDoc" class="col-sm-2 control-label">Nombre</label>
        	<div class = col-sm-10>
        		<input type="text" class="form-control" id="nombreDoc" name="nombreDoc" placeholder="Bastian Escalona" required="required"/>
        		 <p typeth:if="${#fields.hasErrors('nombreDoc')}" th:errors="*{nombreDoc}" class="alert alert-danger" />
        	</div>
    </div>    

    <div class="form-group">
        <label for="runDoc" class="col-sm-2 control-label">Rut</label>
        <div class ="col-sm-10">
        	<input type="text" class="form-control" id="runDoc" name="runDoc" placeholder="19.176.953-8" required = "required" />
         	<p typeth:if="${#fields.hasErrors('runDoc')}" th:errors="*{runDoc}" class="alert alert-danger" />
    	</div>                   
    </div>
                            
    <div class="form-group">
        <label for="emailDoc" class="col-sm-2 control-label">Email</label>
        <div class ="col-sm-10">
        	<input type="email" class="form-control" id="emailDoc" name="emailDoc" placeholder="bastianescalona@hotmail.com" required = "required"/>
        	<p typeth:if="${#fields.hasErrors('emailDoc')}" th:errors="*{emailDoc}" class="alert alert-danger" />
    	</div>
    </div>

    
    <div class="form-group">
    	<div class="col-sm-offset-2 col-sm-10">
          	<button type="submit" class="btn btn-success">Crear Docente</button>
 			<a th:href="@{~/}" class="btn btn-secondary">Volver a inicio</a>
   		 </div>     
    </div>
	</form>
</body>
	
</html>