<head>
  <title>Inscripcion</title>
</head>

<body>

  <h1>Inscripcion</h1>
  <form action="#" th:action="@{/inscripcion/validandoAlumno}" th:object="${alumno}" method="post">
    <table>
      <tr>
        <td>Run:</td>
        <td><input type="number" th:field="*{run}"/></td>
        <td th:if="${#fields.hasErrors('run')}" th:errors="*{run}">Age Error</td>
      </tr>

      <tr>
        <td>Nombre:</td>
        <td><input type="text" th:field="*{nombre}"/></td>
        <td th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Age Error</td>
      </tr>

      <tr>
        <td>Apellido Paterno:</td>
        <td><input type="text" th:field="*{apellido_paterno}"/></td>
      </tr>

      <tr>
        <td>Apellido Materno:</td>
        <td><input type="text" th:field="*{apellido_materno}"/></td>
      </tr>

      <tr>
        <td>Domicilio Procedencia:</td>
        <td><input type="text" th:field="*{domicilio_procedencia}"/></td>
      </tr>

      <tr>
        <td>Domicilio Actual:</td>
        <td><input type="text" th:field="*{domicilio_actual}"/></td>
      </tr>

      <tr>
        <td>Telefono:</td>
        <td><input type="number" th:field="*{telefono}"/></td>
      </tr>







      <tr>
        <td><button type="submit">Submit</button></td>
      </tr>
    </table>
  </form>
</body>
