<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html;"/>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" href="../static/css/bootstrap.css" />
<script th:src="@{/js/jquery.js}" src="../static/js/jquery.js"></script>

<script th:src ="@{/js/bootstrap.js}" src="../static/js/bootstrap.js"></script>


<title>Lista Evaluacion Practica</title>
</head>

	
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
 		 <a class="navbar-brand" href="#">Practica</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
  	</nav>
  	
	<div class="panel panel-info"> <div class ="panel-heading">
		<div class = col-sm-10>
			<h3>Lista de Evaluacio Practica</h3>
		</div>
	</div>
	
	<table class="table table-striped">
  <thead>
  	<tr>
        <th>Id Evaluacion Practica</th>
      	<th>Fecha Evaluacion Practica</th>
    	<th>Pregunta 1 Tabla 1 </th>
    	<th>Pregunta 2 Tabla 1</th>
    	<th>Pregunta 1 Tabla 2 </th>
    	<th>Pregunta 2 Tabla 2</th>
    	<th>Pregunta 1  </th>
    	<th>Pregunta 2  </th>
     	<th></th>
     	<th></th>
     	
     
   	</tr>
    
  </thead>
  <tbody>
    <tr>
      <tr data-th-each="evaluacionpractica : ${Evaluacionpracticas}">
      	<td data-th-text="${evaluacionepractica.id}"></td>
      	<td data-th-text="${evaluacionpractica.fecha}"></td>
      	<td data-th-text="${evaluacionpractica.tabla1_pregunata1}"></td>
      	<td data-th-text="${evaluacionpractica.tabla1_pregunata2}"></td>
      	<td data-th-text="${evaluacionpractica.tabla2_pregunata1}"></td>
      	<td data-th-text="${evaluacionpractica.tabla2_pregunata2}"></td>
      	<td data-th-text="${evaluacionpractica.pregunata1}"></td>
      	<td data-th-text="${evaluacionpractica.pregunata2}"></td>
      	<td>
      	
      		<a class="btn btn-outline-primary" th:href="@{'/CrudPractica/editarPra/{id}'(id=${evaluacionpractica.id})}"> Modificar</a>
      		<a class="btn btn-outline-danger" th:href="@{'/CrudPractica/borrar/{id}'(id=${evaluacionpractica.id})}" > Eliminar </a>
      		</td>
      </tr>

  	</tbody>
	</table>
	</div>
	<br/>
	<div class = col-sm-10>
		<a class ="btn btn-info" th:href="@{~/}">Volver a inicio</a>
	</div>
	</body>

</html>
