<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>

<meta http-equiv="Content-Type" content="text/html;"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<title>Nueva Practica</title>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  		<a class="navbar-brand" href="#">Practica</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
 	</nav>

	<div class="page-header">
		<div class = col-sm-10>
			<h2>Ingresar Practica</h2>
		</div>
    </div>
    <form action="#" th:action="@{/CrudPractica/crear}" th:object="${practica}" method="post">


    

  <div class="form-group">
        <label for="domicilio_actualPractica" class="col-sm-2 control-label">Fecha Practica</label>
        <div class ="col-sm-10">
        	<input type="date" class="form-control"  th:field="*{fechaPractica}" placeholder="" required="required"/>
        	<p typeth:if="${#fields.hasErrors('fechaPractica')}" th:errors="*{fechaPractica}" class="alert alert-danger" />
    	</div>
    </div>

   	<div class="form-group">
        <label for="actividades_realizarPractica" class="col-sm-2 control-label">Domicilio Practica</label>
        <div class ="col-sm-10">
        	<input type="text" class="form-control"  th:field="*{actividades_realizarPractica}" placeholder="El alumno tiene que ..." required="required"/>
        	<p typeth:if="${#fields.hasErrors('actividades_realizarPractica')}" th:errors="*{actividades_realizarPractica}" class="alert alert-danger" />
    	</div>
    </div>

    <div class="form-group">
    	<div class="col-sm-offset-2 col-sm-10">
          	<button type="submit" class="btn btn-success">Crear Practica</button>
 			<a th:href="@{~/}" class="btn btn-secondary">Volver a inicio</a>
   		 </div>
    </div>
	</form>
</body>

</html>
