<head>

</head>

<body>
  <h1>Alumno</h1>
  <table>
    <tr>
      <td>Nombre :</td>
      <td><label th:text="${alumno.nombre}"></label></td>
    </tr>
    <tr>
      <td>Apellidos :</td>
      <td><label th:text="${alumno.apellido_paterno}"> </label></td>
      <td><label th:text="${alumno.apellido_materno}"></label></td>
    </tr>
    <tr>
      <td>Direccion :</td>
      <td><label th:text="${alumno.domicilio_procedencia}"></label></td>
    </tr>
    <tr>
      <td>Telefono ;</td>
      <td><label th:text="${alumno.telefono}"></label></td>
    </tr>
    <div>
      <a th:href="@{ingresarAlumno}">Modificar</a>
    </div>

  </table>

</body>
