<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<title>Lista Docentes</title>
</head>
<body>
	<div class="panel panel-info">
		<div class ="panel-heading"><h3>Lista de Docentes</h3></div>
	<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">Id Docente</th>
      <th scope="col">Rut Docente</th>
      <th scope="col">Nombre Docente</th>
      <th scope="col">Email Docente</th>
      <th scope="col">Es Director?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <tr data-th-each="docente : ${docente}">
      	<td data-th-text="${docente.idDoc}"></td>
      	<td data-th-text="${docente.runDoc}"></td>
      	<td data-th-text="${docente.nombreDoc}"></td>
      	<td data-th-text="${docente.emailDoc}"></td>
      	<td data-th-text="${docente.director}"></td>
    </tr>
   
  </tbody>
</table>
</body>
	
</html>